Python 문법

In [1]:
int('123') # 문자를 숫자로 변경

123

In [2]:
float(10) # 정수를 실수로 변경

10.0

In [3]:
str(123) # 숫자를 문자로 변경

'123'

문제

In [5]:
text = "Hello World!"
numbers = "1234567890"

In [8]:
# 숫자 500
int(numbers[4] + numbers[-1]*2)

500

1. "!dlroW0.0"

In [15]:
text[-1] + text[-2] + text[-3] + text[-4] + text[-5] + text[-6] + str(float(numbers[-1]))

'!dlroW0.0'

In [25]:
text[:5:-1] + str(float(numbers[-1]))

'!dlroW0.0'

2. 3216547890

In [20]:
str(numbers[2] + numbers[1] + numbers[0] + numbers[5] + numbers[4] + numbers[3] + numbers[6:])

'3216547890'

In [32]:
numbers[2::-1] + numbers[5:2:-1] + numbers[-4:]

'3216547890'

3. Hello-World!

In [21]:
text[:5] + "-" + text[6:]

'Hello-World!'

In [26]:
text.replace(" ", "-")

'Hello-World!'

In [39]:
text[:5] + str(int(numbers[-1]) - int(numbers[0]))[0] +text[6:]

'Hello-World!'

4. 3.14

In [55]:
float(numbers[2] + str(float(numbers[-1]))[1] + numbers[0] + numbers[3])

3.14

In [65]:
int(numbers[2]+ numbers[0] + numbers[3]) * 10e-3

3.14

자료구조

In [67]:
text = "1,2,3,4,5"
text

'1,2,3,4,5'

In [68]:
lst = text.split(",")
lst

['1', '2', '3', '4', '5']

In [69]:
tup = tuple(lst)
tup

('1', '2', '3', '4', '5')

In [70]:
",".join(tup)

'1,2,3,4,5'

list, tuple 문제

In [71]:
txt = "Hello World"
lst = [1, 2, 3, 4, 5]

In [76]:
# [1, 2, 'Hello', 'World']
list = []
list.extend(lst[:2])
list.extend(txt.split(" "))
print(list)

[1, 2, 'Hello', 'World']

In [104]:
lst[:2] + txt.split(" ")

[1, 2, 'Hello', 'World']

In [78]:
# [[2, 3], 'll', (4, 5)]
list = []
txt_split = txt.split(" ")
lst_tuple = tuple(lst[3:])

list.append(lst[1:3])
list.append(txt_split[0][2:4])
list.append(lst_tuple)
print(list)

[[2, 3], 'll', (4, 5)]

In [103]:
# ['HELLO', (3,2)]
list = []
txt_split = txt.split(" ")
lst_tuple = tuple(lst[2:0:-1])

list.append(txt_split[0].upper())
list.append(lst_tuple)
print(list)

['HELLO', (3, 2)]

In [105]:
a = set([1, 2, 3, 4, 5]) 
b = set([3, 4, 5, 6, 7])

print(a - b)

{1, 2}

dict, set, bool 문제

In [112]:
dic = {
    'numbers': [1, 2, 3, 4, 5],
    'users'  : [
        {
            'name':'이순신', 'addr': '서울시', 'age': 3
        },
        {
            'name':'신사임당', 'addr': '부산시', 'age': 5
        },
        {
            'name':'홍길동', 'addr': '서울시', 'age': 7
        }
    ]
}

In [113]:
# numbers에 없는 나이를 갖은 사람의 이름? => 홍길동
# numbers 포함여부를 각각 users에 저장
# 저장한 값이 false면 해당하는 이름을 가져온다.

# 강사님 풀이
dic['users'][0]['is_ok'] = dic['users'][0]['age'] in dic['numbers']
dic['users'][1]['is_ok'] = dic['users'][1]['age'] in dic['numbers']
dic['users'][2]['is_ok'] = dic['users'][2]['age'] in dic['numbers']

dic['users'][2]['name']

'홍길동'

In [115]:
# users의 addr에 대한 유니크한 숫자? => 2
# addr 값을 빼와서 list에 담고 set으로 형변환

# 강사님 풀이
list = []
list.append(dic['users'][0]['addr'])
list.append(dic['users'][1]['addr'])
list.append(dic['users'][2]['addr'])

set(list)
print(len(set(list)))

2